@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./credito.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins";
    margin: 0;
    color: #fff;
}

.header {
    position: fixed;
    left: 10%; /* Coloca o ponto de referência no meio */
    transform: translateX(-50%); /* Move o elemento de volta à esquerda em 50% da sua própria largura */
    top: 0;
    width: 150px; /* Ajuste conforme necessário */
    height: 15vh;
    display: flex;
    align-items: center;
}

.header img {
    width: 100%;
}

.container-main {
    opacity: 2;
    background: linear-gradient(-20deg, #2b0b51e2 0%, #5146f1f3 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.loader {
    border: 6px solid rgba(35, 99, 238, 0.3);
    border-radius: 50%;
    border-top: 6px solid #ff8000;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 5%;
    left: 500px%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.wrapper {
    box-sizing: content-box;
    background-color: #ffffff00;
    padding: 50px 30px;
    margin-top: 50px; /* Ajuste conforme necessário */
    text-align: center;
}

.wrapper h1 {
    font-size: 30px;
    color: #ffff;
}

span {
    display: block;
    height: 30px;
    margin-top: 10px;
    color: #dedede;
    border:  1px solid rgba(0, 0, 0, 0);
    animation: spin_words 15s infinite;
    text-align: center;
}

.words {
    overflow: hidden;
    height: 50px;
}

@keyframes spin_words {
    0% { transform: translateY(0%); }
    10% { transform: translateY(-10%); }
    20% { transform: translateY(-100%); }
    30% { transform: translateY(-270%); }
    40% { transform: translateY(-400%); }
    50% { transform: translateY(-550%); }
    60% { transform: translateY(-650%); }
    70% { transform: translateY(-780%); }
    80% { transform: translateY(-900%); }
    90% { transform: translateY(-1050%); }
    100% { transform: translateY(-2050%); }
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 50px;
    margin: 50px auto;
}

.progress {
    width: 0%;
    height: 100%;
    background: linear-gradient(-20deg, #ff8000 0%, #f1a966 100%);
    border-radius: 50px;
    animation: progressAnimation 15s linear forwards;
}

@keyframes progressAnimation {
    0% { width: 0%; }
    100% { width: 100%; }
}

.countdown {
    margin-top: -20px;
    display: flex;
    align-items: center; /* Para centralizar verticalmente */
}

#countdown {
    font-size: 14px;
    margin-right: 10px; /* Adiciona um espaçamento entre os elementos */
}

.countdown li {
    list-style: none; /* Remove os marcadores da lista */
    font-size: 14px;
}

@media screen and (max-width: 768px) {

    .header {
        position: fixed;
        left: 50%; /* Coloca o ponto de referência no meio */
        transform: translateX(-50%); /* Move o elemento de volta à esquerda em 50% da sua própria largura */
        top: 0;
        width: 150px; /* Ajuste conforme necessário */
        height: 15vh;
        display: flex;
        align-items: center;
    }

    .progress-bar {
        width: 80%;
        height: 10px;
        background-color: #f0f0f0;
        border-radius: 50px;
        margin: 50px auto;
    }
    
    .progress {
        width: 0%;
        height: 100%;
        background: linear-gradient(-20deg, #ff8000 0%, #f1a966 100%);
        border-radius: 50px;
        animation: progressAnimation 15s linear forwards;
    }
    
    @keyframes progressAnimation {
        0% { width: 0%; }
        100% { width: 100%; }
    }
    
}
